name: Update Repos

permissions:
  contents: write
on:
  push:
    branches: [main]

jobs:
  generate-repos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Commit and Push
        run: |
          git config user.name "GitHub Action"
          git config user.email "actions@github.com"
          git add public/repos.json
          git commit -m "Update repos.json [CI skip]" || echo "No changes"
          git push
